<html>
    <head>
        <!--Script zum Koordinaten ermitteln-->
        <script type="text/javascript" src="http://media.abstractmgmt.com/others/443/jquery.min.js"></script>
        <script type="text/javascript">
		      $(document).ready(function() {
                  $('img').click(function(e) {
    			      var offset = $(this).offset();
    				  var coordinates = (e.pageX - offset.left) + ", "  + (e.pageY - offset.top)
    				  $('.coord').val(value=coordinates);
    		      });
    		  });
        </script>        
        <script language="Javascript" type="text/javascript">
        // Zeigt die Koordinaten zu einer Location an, wenn diese bereits in der Datenbank vorhanden sind.
            function displayCoordinates(aLocation_id) 
            {
                // Array der link-Objekte, die für die gewählte Karte bereits vorhanden sind.                
                var coordinateList = {{ coordinates_list_data|safe }};
                
                // Alle Elemente des arrays durchgehen.
                for(i=0; i<coordinateList.length; i++) 
                {
                    // Falls die gewählte location bereits Koordinaten hat...                    
                    if(coordinateList[i].fields.location == aLocation_id)
                    {
                        // ...werden diese im Koordinatenfeld angezeigt.                        
                        document.getElementById("coordField").value = coordinateList[i].fields.link_coordinate;
                        break;
                    }
                    // Falls die gewählte Location keine Koordinaten hat...
                    else
                    {
                        // ...wird das Feld der Koordinatenanzeige geleert.
                        document.getElementById("coordField").value = "";
                    }                    
                } 
            }
        </script>
        <style type="text/css">
            #menu {
                background:rgb(92,189,182); opacity: 1.0;
                border-style:solid #000000 1px;
                position:fixed;
                padding: 8px 0 0 10px;
                left:0px; top:0px; width:1000px; height:30px;
            }

            .coord {
                display: inline;
            }
            
            .button {
                position: absolute;
                left: 800px;             
            }
            
            form.mapcoordinates {
                display: inline;
            }
        </style>
    </head>
    <body>
        <div id="menu">
            <form class="mapcoordinates" action="/maps/" method="POST">
                <input type="submit" value="Neue Karte w&auml;len">
            </form>            
            <form class="mapcoordinates" action="/maps/choose_coords/save/" method="post">    
                {% csrf_token %}
                {### Anzeige der vorhandenen Räume ###}
                <select name="location_name" onchange="displayCoordinates(this.form.location_name.options[this.form.location_name.selectedIndex].value)">
                    {### Falls noch keine location gewählt ist wird diese Option als standart gewählt. ###}                    
                    <option {% if actual_location == 'leer' %}selected{% endif %}>----</option>
                {### Alle vorhandenen locations in die Liste eintragen ###}               
                {% for location in location_list %}
                    <option value="{{ location.id }}">{{ location.location_name }}</option>
                {% endfor %}
                </select>
                <input type="hidden" name="map_id" value="{{ map.id }}">
                <input type="hidden" name="map_name" value="{{map_name}}">
                Koordinaten:&nbsp; <input type="text" readonly="TRUE" name="coords" id="coordField" class="coord "value="">
                <input name="submit_button" type="submit" class="button">    
            </form>
            
        </div>
        <img id="bildid" src="{{ map.map_url }}">
    </body>
</html>
