<html>
    <head>
        <style type="text/css">
            .examplediv {
                background-color:#efefef;
                border-style:solid #000000 1px;
            }

            #divid {
                position:fixed;
                left:0px; top:0px; width:1000px; height:30px;
            }
            .button {
                position: absolute;
                left: 130px;             
            }
        </style>
    </head>
    <body>
        <form  action="choose_coords/" method="post">
            <div id="divid" class="examplediv">
                {% csrf_token %}
                <select name="map_id" class="target">
                    <option>----</option>            
                {% for map in map_list %}
                    <option value="{{ map.id }}">{{ map.map_name }}</option>
                {% endfor %}
                </select>
                <input name="from_index" type="hidden" value="True">
                <input name="submit_button" type="submit" class="button" value="Karte ausw&auml;hlen">

            </div>
        </form>
    </body>
</html>
